/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --light-green: #e1fee1;
  --dark-green: #146314;
}

#steps {
  background-color: var(--light-green);
}

.dark--green {
  color: var(--dark-green);
}

#steps--info--text {
  color: var(--dark-green);
  font-size: 1.5rem;
}

.heading {
  font-size: 2.3rem;
}

.check-box {
  background-color: #00da31;
  border-radius: 4%;
}

.survey-box {
  background-color: #00de70;
  border-radius: 4%;
}

.install-box, .icon-box {
  background-color: #00dd70;
  border-radius: 4%;
}

.read--more--link {
  text-decoration: none;
  color: white;
  padding-bottom: 1rem;
}

.left-subsection h3 {
  font-size: 1.2rem;
  padding-top: 1rem;
  text-align: center;
}

.border--blue {
  border: 5px solid blue;
}

.border--red {
  border: 5px solid red;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.banner {
  background-image: url(img/banner.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .overlay {
  background-color: rgba(0, 0, 0, 0.538);
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner .overlay h1 {
  font-family: "Extra-bold";
  font-size: 40px;
  line-height: 50px;
  margin-top: 55px;
}

.banner .overlay p {
  font-family: "Regular";
  font-size: 20px;
  margin-top: 25px;
}

.banner .overlay .check {
  background-color: #3EBD6B;
  color: white;
  font-family: "bold";
  text-decoration: none;
  display: block;
  margin-top: 25px;
  padding: 15px;
  border-radius: 7px;
}

.banner .overlay .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.banner .overlay .icons .pic {
  height: 35px;
  width: 35px;
  border: 1.5px solid #bebaba;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 15px;
}

.banner .overlay .icons .pic img {
  width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.forms {
  background-color: #c7fdc8;
  margin-top: 50px;
}

.forms .find {
  background-color: white;
  text-align: center;
}

.forms .find h4 {
  color: #043b04;
  margin-top: 20px;
  font-family: "bold";
  margin-bottom: 20px;
}

.forms .find .form input {
  width: 90%;
  height: 60px;
  margin-left: 20px;
  border-color: #c7fdc8;
  outline: 0;
  font-size: 15px;
}

.forms .find .form .buttons {
  margin-top: -45px;
  margin-left: 240px;
}

.forms .find .form .buttons button {
  background-color: #00c566;
  border: 0px;
  width: 40px;
  font-size: 12px;
  text-align: center;
}

.forms .find .form .button {
  margin-top: 50px;
}

.forms .find .form .button button {
  background-color: #00c566;
  border: 0px;
  width: 150px;
  height: 40px;
  font-family: "bold";
  font-size: 17px;
}

.footer {
  background-image: url(./img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .link-container ul li h5 {
  color: white;
  font-family: "Regular";
}

.footer .link-container ul li a {
  color: white;
  text-decoration: none;
  font-family: "inter";
}

.footer .line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .line {
  background-color: white;
  height: 2px;
  width: 90vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer .bottom-container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .bottom-container p {
  width: 100%;
  text-align: center;
}

#about {
  font-family: 'Montserrat-regular';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px;
  margin-top: 80px;
}

#about img {
  width: 100%;
}

#about .image2 {
  margin-top: 15px;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about-info h2 {
  color: #17380B;
  font-family: 'Montserrat-bold';
}

#about .about-info .btn button {
  width: 288px;
  height: 70px;
  border: none;
  border-radius: 8px;
  background-color: #3EBD6B;
  color: #ffff;
  font-family: 'Montserrat-bold';
}

#about {
  font-family: 'Montserrat-regular';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px;
  margin-top: 80px;
}

#about img {
  width: 100%;
}

#about .image2 {
  margin-top: 15px;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about-info h2 {
  color: #17380B;
  font-family: 'Montserrat-bold';
  padding-bottom: 30px;
}

#about .about-info .about-content-text {
  line-height: 27px;
}

#about .about-info button {
  width: 260px;
  height: 70px;
  border: none;
  border-radius: 8px;
  background-color: #3EBD6B;
  color: #ffff;
  font-family: 'Montserrat-bold';
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .forms {
    background-color: #c7fdc8;
    text-align: center;
    height: 650px;
    position: relative;
    margin-top: 10px;
  }
  .forms .find {
    background-color: white;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    margin-top: 80px;
  }
  .forms .find h4 {
    color: #043b04;
    margin-top: 40px;
    font-family: "bold";
  }
  .forms .find .form {
    padding: 0.01px;
  }
  .forms .find .form .small {
    height: 65px;
    margin-left: 0px;
    width: 96%;
  }
  .forms .find .form .small input {
    margin-left: 0px;
  }
  .forms .find .form .tabs {
    width: 50%;
  }
  .forms .find .form input {
    width: 73.5%;
    height: 55px;
    margin-left: 80px;
    border-color: #c7fdc8;
    outline: 0;
    font-size: 15px;
    margin-top: 0px;
  }
  .forms .find .form .buttons {
    margin-top: -43px;
    margin-left: 350px;
  }
  .forms .find .form .buttons button {
    background-color: #00c566;
    border: 0px;
    width: 30px;
    font-size: 12px;
    margin: 3px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 7px;
    font-size: 10px;
  }
  .forms .find .form .button {
    margin-top: 50px;
  }
  .forms .find .form .button button {
    background-color: #00c566;
    border: 0px;
    width: 150px;
    height: 40px;
    font-family: "bold";
    font-size: 17px;
    margin-bottom: 50px;
  }
  .footer .line {
    width: 98vw;
  }
  .footer ul {
    width: 100%;
    line-height: 2em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .forms {
    background-color: #c7fdc8;
    text-align: center;
    height: 650px;
    position: relative;
    margin-top: 10px;
  }
  .forms .find {
    background-color: white;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    position: absolute;
    margin-top: 80px;
  }
  .forms .find h4 {
    color: #043b04;
    margin-top: 40px;
    font-family: "bold";
  }
  .forms .find .form {
    padding: 0.01px;
  }
  .forms .find .form .small {
    height: 60px;
    margin-left: 0px;
    width: 96%;
  }
  .forms .find .form .small input {
    margin-top: 0px;
  }
  .forms .find .form .tabs {
    width: 50%;
  }
  .forms .find .form input {
    width: 70%;
    height: 55px;
    margin-left: 80px;
    border-color: #c7fdc8;
    outline: 0;
    font-size: 12px;
    margin-top: 0px;
  }
  .forms .find .form .buttons {
    margin-top: -43px;
    margin-left: 280px;
  }
  .forms .find .form .buttons button {
    background-color: #00c566;
    border: 0px;
    width: 30px;
    font-size: 12px;
    margin: 3px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 7px;
    font-size: 10px;
  }
  .forms .find .form .button {
    margin-top: 50px;
  }
  .forms .find .form .button button {
    background-color: #00c566;
    border: 0px;
    width: 150px;
    height: 40px;
    font-family: "bold";
    font-size: 17px;
    margin-bottom: 50px;
  }
  #about {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
  }
  #about .about-info h2 {
    font-size: 25px;
  }
  #about .about-info .about-content-text {
    margin-top: -5px;
  }
  #about .about-info button {
    font-size: 20px;
    margin-top: -12px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#about {
  font-family: 'Montserrat-regular';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px;
  margin-top: 80px;
}

#about img {
  width: 100%;
}

#about .image2 {
  margin-top: 15px;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about-info h2 {
  color: #17380B;
  font-family: 'Montserrat-bold';
  padding-bottom: 30px;
}

#about .about-info .about-content-text {
  line-height: 27px;
}

#about .about-info button {
  width: 260px;
  height: 70px;
  border: none;
  border-radius: 8px;
  background-color: #3EBD6B;
  color: #ffff;
  font-family: 'Montserrat-bold';
}

.footer {
  background-image: url(./img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .link-container ul li h5 {
  color: white;
  font-family: "Regular";
}

.footer .link-container ul li a {
  color: white;
  text-decoration: none;
  font-family: "inter";
}

.footer .line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .line {
  background-color: white;
  height: 2px;
  width: 90vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer .bottom-container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .bottom-container p {
  width: 100%;
  text-align: center;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .footer .line {
    width: 98vw;
  }
  .footer ul {
    width: 100%;
    line-height: 2em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #about {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
  }
  #about .about-info h2 {
    font-size: 25px;
  }
  #about .about-info .about-content-text {
    margin-top: -5px;
  }
  #about .about-info button {
    font-size: 20px;
    margin-top: -12px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #about {
    gap: 120px;
  }
  #about .flex-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .about-info h2 {
    font-size: 36px;
  }
  #about .about-content-text {
    font-size: 19px;
    width: 560px;
    margin-top: -9px;
  }
  #about button {
    margin-top: -7px;
  }
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width */
/*# sourceMappingURL=style.css.map */