/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.forms {
  background-color: rgb(199, 253, 200);
  margin-top: 50px;
}
.forms .find {
  background-color: white;
  text-align: center;
}
.forms .find h4 {
  color: rgb(4, 59, 4);
  margin-top: 20px;
  font-family: "bold";
  margin-bottom: 20px;
}
.forms .find .form input {
  width: 90%;
  height: 60px;
  margin-left: 20px;
  border-color: rgb(199, 253, 200);
  outline: 0;
  font-size: 15px;
}
.forms .find .form .buttons {
  margin-top: -45px;
  margin-left: 240px;
}
.forms .find .form .buttons button {
  background-color: rgb(0, 197, 102);
  border: 0px;
  width: 40px;
  font-size: 12px;
  text-align: center;
}
.forms .find .form .button {
  margin-top: 50px;
}
.forms .find .form .button button {
  background-color: rgb(0, 197, 102);
  border: 0px;
  width: 150px;
  height: 40px;
  font-family: "bold";
  font-size: 17px;
}

<<<<<<< HEAD
.footer {
  background-image: url(./img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .link-container ul li h5 {
  color: white;
  font-family: "Regular";
}
.footer .link-container ul li a {
  color: white;
  text-decoration: none;
  font-family: "inter";
}
.footer .line-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .line {
  background-color: white;
  height: 2px;
  width: 90vw;
  align-self: center;
}
.footer .bottom-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .bottom-container p {
  width: 100%;
  text-align: center;
}

#about {
  font-family: "Montserrat-regular";
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin-top: 80px;
}
#about img {
  width: 100%;
}
#about .image2 {
  margin-top: 15px;
  gap: 15px;
  display: flex;
}
#about .about-info h2 {
  color: #17380B;
  font-family: "Montserrat-bold";
}
#about .about-info .btn button {
  width: 288px;
  height: 70px;
  border: none;
  border-radius: 8px;
  background-color: #3EBD6B;
  color: white;
  font-family: "Montserrat-bold";
=======
:root {
  --light-green: #e1fee1;
  --dark-green: #146314;
}

#steps {
  background-color: var(--light-green);
}

.dark--green {
  color: var(--dark-green);
}

#steps--info--text {
  color: var(--dark-green);
  font-size: 1.5rem;
}

.heading {
  font-size: 2.3rem;
}

.check-box {
  background-color: rgb(0, 218, 49);
  border-radius: 4%;
}

.survey-box {
  background-color: rgb(0, 222, 112);
  border-radius: 4%;
}

.install-box, .icon-box {
  background-color: rgb(0, 221, 112);
  border-radius: 4%;
}

.read--more--link {
  text-decoration: none;
  color: white;
  padding-bottom: 1rem;
}

.left-subsection h3 {
  font-size: 1.2rem;
  padding-top: 1rem;
  text-align: center;
}

.border--blue {
  border: 5px solid blue;
}

.border--red {
  border: 5px solid red;
>>>>>>> steps
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
<<<<<<< HEAD
@media (min-width: 768px) {
  .forms {
    background-color: rgb(199, 253, 200);
    text-align: center;
    height: 650px;
    position: relative;
    margin-top: 10px;
  }
  .forms .find {
    background-color: white;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    margin-top: 80px;
  }
  .forms .find h4 {
    color: rgb(4, 59, 4);
    margin-top: 40px;
    font-family: "bold";
  }
  .forms .find .form {
    padding: 0.01px;
  }
  .forms .find .form .small {
    height: 65px;
    margin-left: 0px;
    width: 96%;
  }
  .footer ul {
    width: 100%;
    line-height: 2em;
  }
}
=======
>>>>>>> steps
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .forms {
    background-color: rgb(199, 253, 200);
    text-align: center;
    height: 650px;
    position: relative;
    margin-top: 10px;
  }
  .forms .find {
    background-color: white;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    position: absolute;
    margin-top: 80px;
  }
  .forms .find h4 {
    color: rgb(4, 59, 4);
    margin-top: 40px;
    font-family: "bold";
  }
  .forms .find .form {
    padding: 0.01px;
  }
  .forms .find .form .small {
    height: 60px;
    margin-left: 0px;
    width: 96%;
  }
  .forms .find .form .small input {
    margin-top: 0px;
  }
  .forms .find .form .tabs {
    width: 50%;
  }
  .forms .find .form input {
    width: 70%;
    height: 55px;
    margin-left: 80px;
    border-color: rgb(199, 253, 200);
    outline: 0;
    font-size: 12px;
    margin-top: 0px;
  }
  .forms .find .form .buttons {
    margin-top: -43px;
    margin-left: 280px;
  }
  .forms .find .form .buttons button {
    background-color: rgb(0, 197, 102);
    border: 0px;
    width: 30px;
    font-size: 12px;
    margin: 3px;
    align-items: center;
    padding-left: 7px;
    font-size: 10px;
  }
  .forms .find .form .button {
    margin-top: 50px;
  }
  .forms .find .form .button button {
    background-color: rgb(0, 197, 102);
    border: 0px;
    width: 150px;
    height: 40px;
    font-family: "bold";
    font-size: 17px;
    margin-bottom: 50px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */