@font-face {
    font-family: Extra-bold;
    src: url(Inter-ExtraBold.ttf);
}

@font-face {
    font-family: bold;
    src: url(Inter-Bold.ttf);
}

@font-face {
    font-family: Regular;
    src: url(Inter-Regular.ttf);
}
@font-face {
    font-family: inter;
    src: url(./Inter-Light.ttf);
}

@font-face {
    font-family: Mon-thin;
    src: url(./Montserrat-Thin.ttf);
}


@font-face {
    font-family: Montserrat-bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-regular;
    src: url(Montserrat-Light.ttf);
}