@font-face {
    font-family: Extra-bold;
    src: url(Inter-ExtraBold.ttf);
}

@font-face {
    font-family: bold;
    src: url(Inter-Bold.ttf);
}

@font-face {
    font-family: Regular;
    src: url(Inter-Regular.ttf);
}

@font-face {
    font-family: Monserat-regular;
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: Monserat-bold;
    src: url(Montserrat-Bold.ttf);
}